<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>First Publish</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>Categories</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field>
      <mat-label>Categories</mat-label>
      <mat-select [(value)]="options.category">
        <mat-option *ngFor="let category of categories" [value]="category.id">{{category.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="flex-end">
      <button mat-button>Add new category</button>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Tags</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field>
      <mat-chip-list #chipList>
        <mat-chip 
            *ngFor="let tag of options.tags" 
            [selectable]="selectable"
            [removable]="removable"
            (removed)="removeChip(tag)">
          {{tag}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input 
            placeholder="New tag..." 
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="addChip($event)">
      </mat-chip-list>
    </mat-form-field>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Image</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field>
      <mat-label>Url of the Featured Image</mat-label>
      <input matInput>
      <mat-icon matSuffix>close</mat-icon>
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="flex-end">
      <button mat-button>Preview Image</button>
    </div>
  </mat-expansion-panel>
</mat-accordion>