:host {
	display: block;
	width: 100%;
}

.header-wrapper {
  background-color: #416275;
  height: 64px;
  margin: -1rem -1rem 1rem -1rem;
}

.title {
  font-size: 25px;
  color: #fff;
  font-weight: 500;
  user-select: none;
}

mat-card {
  border-radius: 0;
}