.full-width-table {
  width: 100%;
}

.mat-form-field {
  width: 100%;
}

.mat-icon {
  color: #616060
}

.table-wrapper {
	height: calc(100vh - 65px - 2rem - 65px - 57px);
	overflow: auto;
}

.mat-header-cell {
	font-weight: bold;
}