.full-width-table {
  width: 100%;
}

.mat-form-field {
  width: 100%;
}

.mat-icon {
  color: #616060
}

.table-wrapper {
	height: calc(100vh - 65px - 2rem - 65px - 57px);
	overflow: auto;
}

.mat-header-cell {
	font-weight: bold;
}

.actions-wrapper {
	margin-bottom: 1rem;
}

.filter-wrapper {
	border: 1px solid rgb(0, 0, 0, 0.12);
	border-radius: 4px;
	width: 100%;
}

.filter-wrapper input {
	width: 100%;
	height: 100%;
	padding-left: 0.5rem
}

.btn-center {
	align-self: center;
}

.mat-column-id {
	width: 25%;
}

.mat-column-title {
	width: 45%;
}

.mat-column-date {
	width: 10%;
}

.mat-column-content {
	width: 50%;
}

.mat-column-actions {
	width: 20%;
}