<app-header #header>
  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon style="color: #fff">more_vert</mat-icon>
  </button>
  <mat-menu #appMenu="matMenu">
    <button mat-menu-item (click)="delete()">Delete</button>
    <a [attr.href]="'https://quanghuy.netlify.com/post/' + blogId" target="_blank" mat-menu-item>Open in Blog page</a>
  </mat-menu>
  <button mat-raised-button (click)="preview()">Preview</button>
  <button mat-raised-button color="accent" (click)="update()">Update</button>
</app-header>
{{header.setTitle("Edit Post")}}
<div fxLayout="row">
  <mat-card fxFlex="70" [style.margin-right.rem]="1">
    <mat-form-field appearance="standard">
      <mat-label>Post's title</mat-label>
      <input matInput placeholder="Good Man" [value]="blog?.title" (input)="blog.title = $event.target.value" [disabled]="isLoading">
      <mat-icon matSuffix>title</mat-icon>
      <mat-hint></mat-hint>
    </mat-form-field>
    <div class="editor-wrapper">
      <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>
    </div>
  </mat-card>
  <mat-card fxFlex="30" class="config-post-panel">
    <app-post-option-side></app-post-option-side>
  </mat-card>
</div>