<app-header #header>
  <button mat-raised-button (click)="preview()">Preview</button>
  <button mat-raised-button color="accent" (click)="update()">Update</button>
</app-header>
{{header.setTitle("Edit Post")}}
<div fxLayout="row">
  <mat-card fxFlex="65" [style.margin-right.rem]="1">
    <mat-form-field appearance="standard">
      <mat-label>Post's title</mat-label>
      <input matInput placeholder="Good Man" [value]="blog?.title" (input)="blog.title = $event.target.value" [disabled]="isLoading">
      <mat-icon matSuffix>title</mat-icon>
      <mat-hint></mat-hint>
    </mat-form-field>
    <div class="editor-wrapper">
      <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>
    </div>
  </mat-card>
  <mat-card fxFlex="35" class="config-post-panel">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>Basic</mat-panel-title>
        </mat-expansion-panel-header>
        Content
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Advanced</mat-panel-title>
        </mat-expansion-panel-header>
        Content
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
</div>