<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)"
      (closed)="onToggleDrawer()" (opened)="onToggleDrawer()">
    <div class="avatar-wrapper"
        fxLayout="column"
        fxLayoutAlign="center center">
      <div class="avatar"></div>
      <h3 class="avatar-title mat-h2">QUANG HUY</h3>
      <a 
          href="https://quanghuy.netlify.com/" 
          target="_blank" 
          mat-raised-button
          matTooltip="Open blog in new tab">
        Blog page
      </a>
    </div>
    <div class="list-item" fxLayout="column" *ngFor="let route of routeDetect.routeObj">
      <a
          routerLink="{{route.path}}" 
          mat-button 
          class="list-item-link" 
          [class.active]="routeDetect.routeName === route.path">
        <mat-icon [style.margin-right.rem]="0.5">{{route.icon}}</mat-icon>
        {{route.name}}
      </a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
