/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(61, 91, 109, 0.416);
  /*border-radius: 4px;*/
}

/* Vertical tab */
.vertical-tap-wrapper mat-tab-group {
  flex-direction: row;
  overflow: auto;
}

.vertical-tap-wrapper .mat-tab-labels {
  flex-direction: column;
}

.vertical-tap-wrapper mat-form-field {
  width: 100%;
}

.vertical-tap-wrapper mat-ink-bar {
  background-color: initial !important;
}

.vertical-tap-wrapper .mat-tab-body-content {
  height: initial;
}

.vertical-tap-wrapper .mat-tab-label {
  justify-content: flex-start;
}

.vertical-tap-wrapper .mat-tab-label-active {
  border-right: 3px solid #ff4081;
}

.vertical-tap-wrapper .mat-tab-label {
  opacity: 1;
}

.vertical-tap-wrapper .mat-tab-body-wrapper {
  padding-top: 0.5rem;
  width: 100%;
}

/* end */

/* markdown */
.content img {
  max-width: 100%;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

/* end */

.spacer {
  flex: 1 1 auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}